<div class="box sidebar">
  <h3 class="box-header"><span class="box-title">企业合作</span></h3>
  <div class="box-content">
    <ul cachelass="nav nav-list">
      <li><%= link_to "合作与销售", cooperation_sale_path %></li>
      <li><%= link_to "企业培训", enterprise_training_path %></li>
      <li><%= link_to "合作机构", cooperation_organization_path %></li>
    </ul>
  </div>
</div>
