<div class="box sidebar">
  <h3 class="box-header"><span class="box-title">求职招聘</span></h3>
  <div class="box-content">
    <ul class="nav nav-list">
    <% @jobs.each do |job| %>
      <li><%= link_to "#{job.company_name}: #{job.name}", "#" %></li>
    <% end %>
    </ul>
    <div class="viewAll">
       <a href="<%= refinery.fg_jobs_path %>">查看全部</a>
    </div>
  </div>
</div>  <!--well-->  
