<div class="box sidebar">
  <h3 class="box-header"><%= link_to "求职招聘", refinery.fg_jobs_path, :class => "box-title" %></h3>
  <div class="box-content">
    <ul class="nav nav-list">
    <% @jobs.each do |job| %>
      <li><%= link_to "#{job.company_name}: #{job.name}", refinery.fg_job_path(job) %></li>
    <% end %>
    </ul>
    <div class="viewAll">
       <a href="<%= refinery.fg_jobs_path %>">查看全部</a>
    </div>
  </div>
</div>  <!--well-->  
