<div class="box sidebar">
  <h3 class="box-header"><span class="box-title">凡宫学科介绍</span></h3>
  <div class="box-content">
  <ul class="nav nav-list courseList">
  <% @professions.each do |profession| %>
    <li class="course"><%= link_to profession.name, refinery.fg_profession_path(profession) %></li>
  <% end %>
  </ul>
  </div>
</div>        
