<div class="box sidebar">
  <h3 class="box-header"><span class="box-title">报名须知及注意事项</span></h3>
  <div class="box-content">
    <ul class="nav nav-list">
      <li><a href="#">填写报名表</a></li>
      <li><a href="#">入学报名须知</a></li>
      <li><a href="#">学费优惠制度</a></li>
      <li><a href="#">关于证书</a></li>
    </ul>
  </div>
</div>
