<div class="box sidebar">
  <h3 class="box-header"><span class="box-title">报名须知及注意事项</span></h3>
  <div class="box-content">
    <ul class="nav nav-list">
      <li><a href="<%= refinery.new_fg_student_path %>">填写报名表</a></li>
      <li><a href="<%= registration_instruction_path %>">入学报名须知</a></li>
      <li><a href="<%= preferential_path %>">学费优惠制度</a></li>
      <li><a href="<%= certificate_path %>">关于证书</a></li>
    </ul>
  </div>
</div>
