<div class="box sidebar">
  <h3 class="box-header"><span class="box-title">学员报名信息</span></h3>
  <div class="box-content">
    <ul class="students">
    <% @signup_students.each do |student| %>
      <li>
        <h4><%= link_to student.name, "#", {:class => 'title'} %><small><%= student.address %></small></h4>
        <p>所学课程：<%= link_to student.profession.name, refinery.fg_profession_path(student.profession)%></p>
      </li>
    <% end %>
    </ul>
  </div>
</div>  <!--well-->    
