<div class="box sidebar">
  <h3 class="box-header"><%= link_to "学员反馈", refinery.feedback_fg_students_path, :class => "box-title" %></h3>
  <div class="box-content">
    <ul class="students">
      <% @feedback_students.each do |student| %>
      <li>
        <h4><%= link_to student.name, refinery.fg_student_path(student) %></h4>
        <p><%= truncate(student.feedback, :length => 30) %></p>
      </li>
      <% end %>
    </ul>
    <div class="viewAll">
       <a href="<%= refinery.feedback_fg_students_path %>">查看全部</a>
    </div>
  </div>
</div>  <!--well-->  
