<div class="box sidebar">
  <h3 class="box-header"><span class="box-title">学员反馈</span></h3>
  <div class="box-content">
    <ul class="students">
      <% @feedback_students.each do |student| %>
      <li>
        <h4><%= link_to student.name, refinery.fg_student_path(student) %></h4>
        <p><%= truncate(student.feedback, :length => 30) %></p>
      </li>
      <% end %>
    </ul>
  </div>
</div>  <!--well-->  
