<div class="span5">
  <div class="box">
    <h3 class="box-header"><%= link_to "企业合作", main_app.cooperation_organization_path, :class => "box-title" %></h3>
    <div class="box-content">
      <ul class="thumbnails works">
      <% @cooperations.each do |cooperation| %>
        <li>
        <%= link_to(image_fu(cooperation.logo, nil), cooperation.url, :target =>"_blank" ) %>
        </li>
      <% end %>
      </ul>
      <div class="viewAll">
        <a href="<%= main_app.cooperation_organization_path %>">查看全部</a>
      </div>              
    </div>
  </div>  <!--well-->    
</div>
