<div class="container">
  <div class="well-large">
    <h3>友情链接</h3>
    <div class="friendLinkSet">
    <% Refinery::Fg::Link.where(:cooperation => false).each do |link| %>
      <%= link_to link.name, link.url, :target => "_blank" %>
    <% end %>
    </div>
  </div>
</div>
