      <div class="box sidebar">
        <h3 class="box-header"><span class="box-title">凡宫简介</span><a class="readAll pull-right" href="#">更多</a></h3>
        <div class="box-content">
        <img width="370px" class="pull-left" src="img/activities/6.jpg"><p></p>
        <p>凡宫造型培训机构，创立于2008年</p>
        <p>原张菁化妆培训机构，基于文化理念的提升而更名</p>
        <p>与北京电影制片厂天宇影视化妆培训学校共同打造浙江最具实力的影视化妆培训机构</p>
        <p>我们拥有最前线的专业讲师团队</p>
        
        <p>我们是时尚领域中充满激情和专业精神的团队</p>
        <p>我们提供关于化妆的各种知识：美术基础，服装设计，平面设计，色彩搭配，面具文化，影视美学，品牌鉴赏，国际礼仪，古典文化等。。</p>
        <p>我们的宗旨是打造行业最精英的人士</p>
        <p>与北京电影制片厂天宇影视化妆培训学校共同打造浙江最具实力的影视化妆培训机构</p>
        <p>我们拥有最前线的专业讲师团队</p>
        <p>我们是时尚领域中充满激情和专业精神的团队</p>
    
        </div>

        
      </div>                          
