<div class="row">
  <ul class="nav nav-pills pull-right">
    <li><%= link_to "简介", main_app.about_us_path %></li>
    <li><%= link_to "师资", refinery.fg_teachers_path %></li>
    <li><%= link_to "环境", main_app.enviroment_path %></li>
    <li><%= link_to "合作院校", main_app.partner_school_path %></li>
  </ul>
</div>
