<div class="container">
  <div class="row">
    <div class="span3">
      <div class="well-large">
        <h3>合作</h3>
        <ul>
          <li><a href="enterprise_cooperations/index.html">企业合作</a></li>
          <li><a href="job.html">诚聘精英</a></li>
        </ul>

      </div>
    </div>
    <div class="span3">
      <div class="well-large spriteVertical">
        <h3>声明</h3>
        <ul>
          <li><a href="trademark_statement.html">商标声明</a></li>
          <li><a href="fangong.html">凡宫声明</a></li>
          <li><a href="pviacy.html">隐私声明</a></li>
        </ul>
      </div>
    </div>
    <div class="span3">
      <div class="well-large spriteVertical">
        <h3>帮助</h3>
        <ul>
          <li>
            <a href="#">在线客服</a>
          </li>
          <li><a href="map.html">网站地图</a></li>
          <li><a href="contact_us/index.html">联系我们</a></li>
        </ul>
      </div>
    </div>
    <div class="span3">
      <div class="well-large spriteVertical">
        <h3>其他</h3>
        <ul>
          <li><a href="#">友情链接</a></li>
          <li><a href="javascript:bookmark_us('http://www.fangong.com/','凡宫造型')">加入收藏</a></li>
        </ul>
        <h3>关注凡宫</h3>
        <ul class="follow-list">
          <li><a target="_blank" href="http://e.weibo.com/hzfgzx" class="follow-sinawb follow-icon"></a></li>
          <li><a target="_blank" href="http://t.qq.com/chenmohan321" class="follow-qqwb follow-icon"></a></li>
          
        </ul>            
      </div>
    </div>  <!--span3-->                
  </div><!--row-->
</div><!--container-->


