<div class="container">
  <div class="row">
    <div class="span3">
      <div class="well-large">
        <h3>关于</h3>
        <ul>
          <li><a href="#">关于凡宫</a></li>
          <li><a href="#">凡宫资讯</a></li>
          <li><a href="#">加入凡宫</a></li>
        </ul>
        <h3>关注凡宫</h3>
        <ul class="follow-list">
          <li><a target="_blank" href="http://weibo.com/bshare" class="follow-sinawb follow-icon"></a></li>
          <li><a target="_blank" href="http://t.qq.com/bShare" class="follow-qqwb follow-icon"></a></li>
          <li><a target="_blank" href="http://t.sohu.com/u/8642674" class="follow-sohuwb follow-icon"></a></li>
          <li><a style="margin-right:0;" target="_blank" href="http://t.163.com/4104388906" class="follow-neteasewb follow-icon"></a></li>
        </ul>
      </div>
    </div>
    <div class="span3">
      <div class="well-large spriteVertical">
        <h3>合作伙伴</h3>
        <ul>
          <li><a href="#">商业合作</a></li>
          <li><a href="#">投资与资本</a></li>
          <li><a href="#">艺人/经纪合作</a></li>
        </ul>
      </div>
    </div>
    <div class="span3">
      <div class="well-large spriteVertical">
        <h3>声明</h3>
        <ul>
          <li><a href="#">商标声明</a></li>
          <li><a href="#">产品设计保护作</a></li>
          <li><a href="#">隐私政策</a></li>
        </ul>
      </div>
    </div>
    <div class="span3">
      <div class="well-large spriteVertical">
        <h3>帮助</h3>
        <ul>
          <li><a href="#">在线客服</a></li>
          <li><a href="#">防骗说明</a></li>
          <li><a href="#">联络方式</a></li>
        </ul>
      </div>
    </div>  <!--span3-->                
  </div><!--row-->
</div><!--container-->

