  <div class="container">
    <div class="row">
      <div class="span2">  
        <address>
          杭州市文晖大桥东蓝天城市花园16幢2单元5楼<br />
          0571-87175975<br />0571-88039985
        </address>
        <div class="bshare-custom">
          <a title="分享到QQ空间" class="bshare-qzone" href="javascript:void(0);"></a>
          <a title="分享到新浪微博" class="bshare-sinaminiblog" href="javascript:void(0);"></a>
          <a title="分享到人人网" class="bshare-renren" href="javascript:void(0);"></a>
          <a title="分享到腾讯微博" class="bshare-qqmb" href="javascript:void(0);"></a>
          <a title="分享到豆瓣" class="bshare-douban" href="javascript:void(0);"></a>
          <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
          <span class="BSHARE_COUNT bshare-share-count">0</span>
        </div>            
      </div>
      <div class="span8">
        <a href="index.html" id="logo" ><%= image_tag "top.jpg", :alt => '凡宫' %></a>
      </div>
      <div class="span2">
				<ul class="info">
					<li>营业执照 <br />330105000228386（1/1）号</li>
					<li>组织机构代码证号 58322864-7</li>
					<li>百万美女特约商家 <br />代码：HZTS20120388</li>
					<li>IDAIRC国际注册化妆师<br />美甲师授权培训（考试）<br />定点机构</li>							
				</ul>
        <ul class="follow-list">
          <li><a target="_blank" href="http://e.weibo.com/hzfgzx" class="follow-sinawb follow-icon"></a></li>
          <li><a target="_blank" href="http://t.qq.com/chenmohan321" class="follow-qqwb follow-icon"></a></li>
        </ul>
      </div>
    </div><!--row-->
    <%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
  </div>

